body {
    background-color: black;
    font: 900 15px/22px 'DIN Next W01',Helvetica,Arial,sans-serif;
    text-align: center !important;
}

ol, ul {
    list-style: none;
}

div {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

#topbar-inner {
    background-color: black;
    height: 250px;
}

#section-topbar {
    height: 300px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    overflow: visible;
}

#section-topbar #logocontainer,
#section-topbar #navcontainer{
    display: block;
    text-align: center;
    vertical-align: middle;
}

#section-topbar ul#nav {
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

#section-topbar ul#nav li {
    padding: 20px 15px;
    text-align: center;
    display: inline-block;
}

#logocontainer a,
#section-topbar ul#nav a {
    font-size: 25px;
    color: white;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 0 13px;
    padding-bottom: 0px;
    text-align: center;
}

#section-manifesto {
    padding-top: 220px;
    background-color: orange;
}

#section-about {
    width: 100%;
    background-color: gray;
}

#section-work {
    padding: 20px;
    background-color: black;
}

#section-games h5 {
    color: white;
}

.container {
    padding: 60px;
    position: relative;
    width: 960px;
    margin: 0 auto;
    border-top: 3px solid orange;
}

#section-topbar .container {
    padding-top: 10px;
    border: 0;
}

.text-color-white {
    color: white;
}

.text-color-white a {
    text-decoration: none;
    color: white;
}

.navbar {
    margin: 0;
    padding: 4px;
}

.navbar li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

.col {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}

.col-left {
    float: left;
}

.col-right {
    float: right;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.company-block {
    border: 4px dotted red;
    background: black;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
}