<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css' )}}" />
        <title>{{title}}</title>
    </head>
    <body data-spy="scroll" data-target="#section-topbar" data-offest="250" class="style1">
        <div id="section-topbar">
            <div id="topbar-inner">
                <div class="container">
                    <div id="logocontainer">
                        <img src="{{logoPic}}" alt="Logo of company" width="128px">
                        <div class="clear"></div>
                        <a href="#section-manifesto">{{companyName}}</a>
                    </div>
                    <div class="clear"></div>
                    <div id="navcontainer">
                        <div>
                            <ul id="nav" class="nav">
                                <li class="menu-item">
                                    <a href="#section-games">Games</a>
                                </li>
                                <li>
                                    <a href="#section-about">About us</a>
                                </li>
                                <li>
                                    <a href="#section-work">Work with us</a>
                                </li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="section-manifesto">
            <div class="container">
                <div>
                    <h1>Ваш слоган</h1>
                </div>
                <br/>
                <div>
                    <h3>Предисловие. Определённый текст, который особо не нужен, но очень значим для вашей компании. А ещё заплатите нам за рекламу.
                    Мы же страемся из-зо всех сил</h3>
                </div>
            </div>
        </div>
        <div id="section-about">
            <div class="container">
                <div>
                    <h3>DOOM

    Science has unlocked the gates to the unknown, and now the only thing standing in the way of the forces of Hell is a lone space marine. Featuring dramatic storylines, pulse-pounding action, revolutionary technology and unique sci-fi based weaponry, DOOM is the franchise that ushered in the FPS revolution and evolved the genre into the juggernaut it is today. With several installments featuring some of the most frightening and gripping first-person gaming experiences ever created, the DOOM franchise is a cultural milestone that has transcended the realm of video games on the way to becoming a mainstream entertainment phenomenon.</h3>
                </div>
            </div>
        </div>
        <div id="section-games">
            <div class="container">
                <div>
                    <div class="col col-left">
                        <img src="{{logoPic}}" alt="First game" width="300">
                    </div>
                    <div class="col">
                        <h2 class="text-color-white">
                            HisturyHisturyHistur yHisturyHisturyHisturyHisturyHist uryHisturyHisturyHisturyHisturyHistu ryHisturyHistury
                        </h2>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div id="section-work">
            <div class="container">
                <h5 class="text-color-white">ruzyqwerty@gmail.com</h5>
            </div>
        </div>
    </body>
</html>