{% extends "base.html" %}

{% block content %}
{# TODO   ТАК    #}
{#    {% if current_user.is_authenticated %}#}
{#            <h5>Hi, {{ current_user.username }}!</h5>#}
{#                <a href="{{ url_for('company/corp1') }}">Corp1</a>#}
{#                <a href="{{ url_for('company/corp2') }}">Corp2</a>#}
{#                <a href="{{ url_for('company/corp3') }}">Corp3</a>#}
{#                <a href="{{ url_for('company/corp4') }}">Corp4</a>#}
{#                <a href="{{ url_for('company/corp5') }}">Corp5</a>#}
{#                <a href="{{ url_for('company/corp6') }}">Corp6</a>#}
{#        {% else %}#}
{#            <h5>Hi, nobody! Not glad to see you.</h5>#}
{#    {% endif %}#}
{# TODO   ИЛИ ТАК    #}
{#    <a href="{{ url_for('company/corp1') }}">Corp1</a>#}
{#    <a href="{{ url_for('company/corp2') }}">Corp2</a>#}
{#    <a href="{{ url_for('company/corp3') }}">Corp3</a>#}
{#    <a href="{{ url_for('company/corp4') }}">Corp4</a>#}
{#    <a href="{{ url_for('company/corp5') }}">Corp5</a>#}
{#    <a href="{{ url_for('company/corp6') }}">Corp6</a>#}
{# TODO   НО РАБОТАТЬ НЕ БУДЕТ, ХЗ ПОЧЕМУ#}

    <h1 class="text-color-white">ALL is OK</h1>
{% endblock %}
